#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    color: white;
}

#times {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    text-align: center;
    margin-right: 3%;
}

#times a:link {
    color: #e60027;
}

#times a:visited {
    color: #00afef;
}

#next-event {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#next-event > p {
    font-weight: bold;
    font-size: large;
    margin: 0%;
}

#updates {
    align-self: center;
}

#patch {
    margin-left: 1.5%;
}

#header-container {
    position: relative;
    width: fit-content;
    aspect-ratio: 5500 / 683;
    text-align: center;
    overflow: hidden;
    margin: -8px;
    max-width: 100vw;
}

#header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#timeline-container {
    position: relative;
    width: max-content;
    max-width: 100vw;
    overflow: hidden;
    background: #fff;
    margin: -8px;
}

#timeline-image {
    width: 100%;
    height: auto;
    aspect-ratio: 5500 / 666;
}

#timeline-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: red;
    opacity: 0.4;
    left: var(--progress, 0%);
    transform: translate3d(-50%, 10%, 0);
    z-index: 10;
    margin: -8px;
    height: 90%;
}

.flex-misc-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    flex: 1;
    padding: 10px;
}

#glossary {
    flex-grow: 1;
    overflow: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

#streams {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

td {
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #111;
}

#background {
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: 
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(https://images-assets.nasa.gov/image/art002e009288/art002e009288~orig.jpg) center / cover;
};

#updates-text span {
    display: block; /* Makes each line act like a new row */
    margin-bottom: 5px;
    font-family: monospace; /* Often used for mission logs */
}

#container {
    margin: 8px;
}

a {
    font-size: larger; 
    font-weight: bold; 
    text-align: right;
}

.box > iframe {
    padding: 10px;
}